.button {
  background-color: #005f73;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0a9396;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #BBBBBB;
  }
}

