.container {
  display: flex;
  height: 100%;
}

.leftPanel {
  position: relative;
  z-index: 2;
  padding-right: 20px;
  width: fit-content;
}

.leftPanelInner {
  width: 300px;
}

.leftPanel input,
.leftPanel textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 4px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.rightPanel {
  flex: 1;
  background-color: #fff;
}

.uiConfigError {
  border-color: red !important;
}

.uiConfigErrorLabel {
  color: red;
  font-size: 14px;
}

.uiConfigJSONContainer {
  margin-bottom: 10px;

  textarea {
    margin-bottom: 0;
    height: 150px;
  }
}

.actionBtns {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hideLeftPanelBtn {
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
