.container {
  display: flex;
}

.leftPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.rightPanel {
  width: 300px;
  display: flex;
  flex-direction: column;
}

input, select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #00796b;
  border-radius: 4px;
}

.buttonContainer {
  margin-top: 10px;
}

.tokenDisplay {
  margin-top: 20px;
}

.tokenDisplay textarea {
  width: 100%;
  height: 100px;
  resize: none;
}